<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVq_VJOPFJh-3xtfxGNVdmTGrgA1Uq8Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>138407541480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fourstudents</string>
	<key>PROJECT_ID</key>
	<string>students-ff391</string>
	<key>STORAGE_BUCKET</key>
	<string>students-ff391.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138407541480:ios:14a3030c6f6c20ca76a75d</string>
</dict>
</plist>